@import "../node_modules//bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


.bn-CircleFill{
    color: green;
}
.icon-22{
    width: 22px;
    height: 22px;
}
.icon-13{
    width: 13px;
    height: 13px;
}
.icon-16{
    width: 16px;
    height: 16px;
}
.icon-80{
    width: 80px;
    height: 80px;
}
.icon-32{
    width: 32px;
    height: 32px;
}
.nav-pills .nav-link{
    border-radius: 0 !important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: rgb(15, 15, 15) !important; 
   background-color: transparent !important; 
    border-radius: 0 !important;

}
.cus_file_one{
    z-index: 999; opacity: 0;  position: absolute; right: 0px; left: 0px; margin-right: auto; margin-left: auto;
}
.nav-avatar{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    
}
.dropdown-menu,
.cus-nav-right-side{
    &.show{
        display: block;
    }
}
.navbar-light .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.55);
}

.side-appbar-icon svg {
    fill: var(--white-color);
    width: 30px;
    height: 30px;
  }
  
.dextop-sidebar{
    color: rgb(0, 0, 0);
    position: absolute;
    left: 30px;
    top: 80px;
    @include media-breakpoint-down(lg) {
        display: none;
    }
   svg{
    width: 25px;
    height: 25px;
   }
   background: rgb(235, 235, 235);
   padding: 7px;
   border-radius: 50%;
   border: 1px solid rgb(187, 187, 187);
   transition: all .3s ease-in;
   &:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: rgb(216, 216, 216);
   }
    
}
.sideappbar-offcanvas{
    top: 56px;
    width: 100% !important;
    @include media-breakpoint-up(lg) {
    top:63px;
    width: 180px !important; 
    }
    .offcanvas-body{
        padding: 0;
    }
    .side-appbar .navbar{
        margin-top: 0;
    }
    .offcanvas-header{
        padding-top: 0.8rem;
        padding-bottom: 0;
    }
}